<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- <script src="/js/cart.js" defer></script>
    <script src="/js/pages/product.js" defer></script> -->

    <title>Rainy Days Product</title>
</head>
<body>
    <header>
        <h1><a href="/Views/Home/index.html">Rainy Days</a></h1>
        <nav>
            <label>
                <input id="filter-search" type="search" placeholder="Search products…" />
                </label>
            <a href="/checkout/index.html" aria-label="Go to checkout">Cart (<span id="cart-count">0</span>)</a>
        </nav>
    </header>
    <!-- <main id="product"></main> -->
    <div id="container" class="product-container"></div>
    <script src="/js/cart.js"></script>
    <script src="/js/pages/product.js"></script>
</body>
</html>