<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rainy Days Store</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <!-- <script src="/js/cart.js" defer></script>
  <script src="/js/pages/product.js" defer></script> -->

    
</head>
<body>
  <header>
    <label for="gender">Gender:</label>
    <select id="gender">
      <option value="all">All</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
    <label for="category">Category:</label>
    <select id="category">
      <option value="all">All</option>
      <option value="outdoors">Outdoors</option>
      <option value="training">Training</option>
    </select>
  </header>
  <main>
    <div id="container" class="container"></div>
  </main>
<script src="/js/cart.js"></script>
<script src="/js/pages/home.js"></script>
</body>
</html>